* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(153deg, rgba(2, 0, 36, 0) 0%, rgba(32, 33, 47, 0.09007352941176472) 100%);
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-content: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    opacity: 0.90;

    img {
        margin: 10px;
        opacity: 70%;
        transform: scale(0.9);
    }

    img:hover {
        opacity: 0.50;
    }

    .navButton {
        position: absolute;
        right: 20px;
        bottom: 10px;
        cursor: pointer;

        @media screen and (min-width: 640px) {
            visibility: hidden;
        }
    }


    .horizonNav {
        position: fixed;
        top: 50px;
        max-width: 700px;
        width: 100%;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;
            display: flex;
            height: 50px;
            width: 100%;

            li {
                background-color: white;
                display: flex;
                justify-content: center;
                align-content: center;
                list-style: none;
                height: 100px;
                width: 100%;

                a {
                    padding: 7px 0 7px 0px;
                    width: 100%;
                    text-align: center;
                    font-weight: 500;
                }

            }

            li:hover {
                background-color: rgba(0, 0, 0, 0.3);
                display: flex;
            }

        }

        @media screen and (min-width: 640px) {
            position: initial;
            top: unset;
            width: 70%;

            ul {
                flex-direction: row;
                height: 50px;

                li {
                    height: 50px;
                    border-radius: 2.5px;
                    a {
                        padding: 15px 0 0 0px;
                    }
                }
                li:Hover {
                    background-color: rgba(0, 0, 0, 0.085);
                }
            }
        }
    }

    .navNotOpen {
        display: absolute;
        visibility: hidden;
    }

    .navOpen {
        display: flex;
        visibility: visible;
    }

}

main {
    padding: 25px 0 0 0;

}